<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-title class="header-title">Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="mostrarEmDesenvolvimento()">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding custom-bg">
  
  <div class="profile-header-section">
    <div class="avatar-circle">
      <span>{{ iniciais }}</span>
    </div>
    <h2>{{ nomeUtilizador }}</h2>
    <p>{{ emailUtilizador }}</p>
    <ion-button fill="outline" class="edit-profile-btn" (click)="mostrarEmDesenvolvimento()">
      Editar Perfil
    </ion-button>
  </div>

  <div class="divider"></div>

  <div class="settings-list">
    
    <div class="setting-item" routerLink="/escolha-loja" style="cursor: pointer;">
      <div class="item-left">
        <div class="icon-box"><ion-icon name="storefront-outline"></ion-icon></div>
        <span>Loja Preferida</span>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
    </div>

    <div class="setting-item" (click)="mostrarEmDesenvolvimento()" style="cursor: pointer;">
      <div class="item-left">
        <div class="icon-box"><ion-icon name="notifications-outline"></ion-icon></div>
        <span>Notificações</span>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
    </div>

    <div class="setting-item" (click)="mostrarEmDesenvolvimento()" style="cursor: pointer;">
      <div class="item-left">
        <div class="icon-box"><ion-icon name="archive-outline"></ion-icon></div>
        <span>Listas Arquivadas</span>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
    </div>

    <div class="setting-item" (click)="mostrarEmDesenvolvimento()" style="cursor: pointer;">
      <div class="item-left">
        <div class="icon-box"><ion-icon name="receipt-outline"></ion-icon></div>
        <span>Histórico de Compras</span>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
    </div>

    <div class="setting-item" (click)="mostrarEmDesenvolvimento()" style="cursor: pointer;">
      <div class="item-left">
        <div class="icon-box"><ion-icon name="help-circle-outline"></ion-icon></div>
        <span>Ajuda e Suporte</span>
      </div>
      <ion-icon name="chevron-forward-outline" class="chevron"></ion-icon>
    </div>

  </div>

  <div class="logout-btn" (click)="terminarSessao()" style="cursor: pointer;">
    <ion-icon name="log-out-outline"></ion-icon>
    <span>Terminar Sessão</span>
  </div>

</ion-content>