<!-- Seta de voltar atrás forçada para o Welcome -->
<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <ion-buttons slot="start">
      <ion-button fill="clear" color="dark" routerLink="/welcome" routerDirection="back">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-wrapper">

    <!-- Logótipo Principal -->
    <div class="main-logo">
      <img src="assets/logo.png" alt="BuyBuy Logo" class="logo-image" />
    </div>

    <!-- Títulos Centrados -->
    <div class="titles">
      <h1>{{ strings.t.registo.titulo }}</h1>
      <p>{{ strings.t.registo.subtitulo }}</p>
    </div>

    <!-- Formulário -->
    <form [formGroup]="registoForm" (ngSubmit)="criarConta()" class="form-container">
      
      <!-- Campo: Nome -->
      <div class="custom-input-box">
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" [placeholder]="strings.t.registo.nomePlaceholder" formControlName="nome"></ion-input>
      </div>

      <!-- Campo: Email -->
      <div class="custom-input-box">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" [placeholder]="strings.t.registo.emailPlaceholder" formControlName="email"></ion-input>
      </div>

      <!-- Campo: Password Atualizado com o Olho dinâmico -->
      <div class="custom-input-box">
        <ion-icon name="lock-closed-outline"></ion-icon>
        
        <!-- O type muda automaticamente entre 'text' e 'password' -->
        <ion-input [type]="mostrarSenha ? 'text' : 'password'" [placeholder]="strings.t.registo.senhaPlaceholder" formControlName="senha"></ion-input>
        <!-- Quando clicado, corre a função toggleSenha() e muda o desenho do ícone -->
        <ion-icon 
          [name]="mostrarSenha ? 'eye-off-outline' : 'eye-outline'" 
          class="suffix-icon" 
          (click)="toggleSenha()"
          style="cursor: pointer;">
        </ion-icon>
      </div>

    </form>

    <!-- Botão de Criar Conta Atualizado -->
    <!-- Agora é do tipo submit para disparar o formulário automaticamente ou chamar a função criarConta() -->
    <ion-button class="login-btn" expand="block" (click)="criarConta()">
      {{ strings.t.registo.criarConta }} <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-button>

    <!-- Rodapé -->
    <div class="register-link">
      {{ strings.t.registo.jaTemConta }} <a routerLink="/login">{{ strings.t.registo.iniciarSessao }}</a>
    </div>

  </div>
</ion-content>