<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <div class="custom-header">
      <div class="user-profile">
        <ion-avatar>
          <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Avatar" />
        </ion-avatar>
        <h2>Olá, João!</h2>
      </div>
      
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="section-title">
    <h1>As minhas listas</h1>
    <div class="underline"></div>
  </div>

  <div class="lists-wrapper">
    
    <div class="list-card border-dark" routerLink="/lista-detalhes" style="cursor: pointer;">
      <div class="list-info">
        <ion-icon name="basket-outline" class="list-icon"></ion-icon>
        <div class="text-group">
          <h3>Lista Semanal</h3>
          <p>Última edição: Ontem</p>
        </div>
      </div>
      <div class="item-badge">12 itens</div>
    </div>

    <div class="list-card border-light">
      <div class="list-info">
        <ion-icon name="gift-outline" class="list-icon"></ion-icon>
        <div class="text-group">
          <h3>Festa de Aniversário</h3>
          <p>Criada há 3 dias</p>
        </div>
      </div>
      <div class="item-badge">25 itens</div>
    </div>

    <div class="list-card border-brown">
      <div class="list-info">
        <ion-icon name="briefcase-outline" class="list-icon"></ion-icon>
        <div class="text-group">
          <h3>Trabalho</h3>
          <p>Atualizada há 1 hora</p>
        </div>
      </div>
      <div class="item-badge">5 itens</div>
    </div>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="custom-fab">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="custom-fab" routerLink="/nova-lista">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>