<ion-header class="ion-no-border">
  <ion-toolbar color="transparent">
    <div class="custom-header" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
      
      <div class="user-profile" style="display: flex; align-items: center; gap: 12px;">
        <div class="avatar-circular-pequeno">
          {{ iniciaisAvatar }}
        </div>
        <h2 style="margin: 0; font-size: 1.2rem; font-weight: bold;">Olá, {{ primeiroNome }}!</h2>
      </div>
      
      <ion-button fill="clear" color="dark">
        <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
      </ion-button>

    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="section-title">
    <h1>As minhas listas</h1>
    <div class="underline"></div>
  </div>

  <div class="lists-wrapper">
    
    <div class="list-card" 
         [ngClass]="lista.cor.startsWith('border-') ? lista.cor : ''" 
         [style.border-left-color]="!lista.cor.startsWith('border-') ? lista.cor : null"
         *ngFor="let lista of listasNoEcra" 
         [routerLink]="['/lista-detalhes', lista.nome]" style="cursor: pointer;">
      <div class="list-info">
        <ion-icon [name]="lista.icone" class="list-icon"></ion-icon>
        <div class="text-group">
          <h3>{{ lista.nome }}</h3>
          <p>{{ lista.dataEdicao }}</p>
        </div>
      </div>
      <div class="item-badge">{{ lista.totalItens }} itens</div>
    </div>

  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="custom-fab" routerLink="/nova-lista">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>