<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/loja-navegacao" text="" icon="arrow-back-outline" color="success"></ion-back-button>
    </ion-buttons>
    <ion-title class="header-title">Mapa da Loja - ÉBarato</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-map-bg" [scrollY]="false">
  
  <div class="map-container">
    <div class="aisle padaria">PADARIA</div>
    <div class="aisle lacticinios">LACTICÍNIOS</div>
    <div class="aisle frutas">FRUTAS</div>
    <div class="aisle bebidas">BEBIDAS</div>
    <div class="aisle limpeza">LIMPEZA</div>

    <div class="waypoint point-1">1</div>
    <div class="waypoint point-2">2</div>
    <div class="waypoint point-3">3</div>
  </div>

  <div class="map-controls">
    <ion-fab-button class="mini-fab"><ion-icon name="add"></ion-icon></ion-fab-button>
    <ion-fab-button class="mini-fab"><ion-icon name="remove"></ion-icon></ion-fab-button>
    <ion-fab-button class="mini-fab locate-fab"><ion-icon name="locate-outline"></ion-icon></ion-fab-button>
  </div>

  <div class="bottom-sheet">
    <div class="drag-indicator"></div>
    
    <div class="stop-header">
      <span class="label">PRÓXIMA PARAGEM</span>
      <span class="eta-badge"><ion-icon name="walk-outline"></ion-icon> 12m</span>
    </div>
    
    <h3 class="aisle-title">Corredor 1: Lacticínios</h3>
    <p class="product-name">Leite Meio Gordo (Mimosa)</p>

    <div class="action-row">
      <ion-button expand="block" class="found-btn">
        <ion-icon name="checkmark-circle-outline" slot="start"></ion-icon> Item Encontrado
      </ion-button>
      
      <ion-button class="skip-btn">
        <ion-icon name="play-skip-forward-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

</ion-content>